{
  "setup_complete": false,
  "secret_key""
  "supervisor_name": "",
  "organization": "",
  "exam_name": "",
  "exam_duration_minutes": 0,
  "username": "",
  "password_salt": "",
  "password_hash": "",
  "cctv_ip": ""
}