{
  "setup_complete": false,
  "secret_key": "19f6494a8befd4f80c221623787cbfcecd383a3a2e49607969abaaffcdddb8df",
  "supervisor_name": "",
  "organization": "",
  "exam_name": "",
  "exam_duration_minutes": 0,
  "username": "",
  "password_salt": "",
  "password_hash": "",
  "cctv_ip": ""
}